<div class="c-footer">

    <div class="ws-w" style="position:relative;">
        <ul class="footer-links">
            <li>
                <a href="{%= link.help %}" target="_blank">
                    帮助中心
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{%= link.about %}" target="_blank">
                    关于我们

                </a>
            </li>
            <li class="divider"></li>

            <li>
                <a href="{%= link.safe %}" target="_blank">
                    安全保障

                </a>
            </li>
            <li class="divider"></li>

            <li>
                <a href="{%= link.xszy %}" target="_blank">
                    新手指引

                </a>
            </li>
            <li class="divider"></li>

            <li>
                <a href="{%= link.media %}" target="_blank">
                    媒体报道

                </a>
            </li>
            <li class="divider"></li>

            <li>
                <a href="{%= link.news %}" target="_blank">
                    网站公告

                </a>
            </li>
            <li class="divider"></li>

            <li>
                <!--J_online-->
                <a id="" href="{%= link.customService %}" target="_blank"> 
                    在线客服
                </a>
            </li>

        </ul>

        <div class="info ">


            <p>鄯善温商贷互联网金融服务有限公司 (C) 2012-2017 版权所有　公司电话：0577-96088 <a style="margin-left: 20px;" href="{%=phoneLink%}" target="_blank"
                    class="red">手机版</a></p>
            <p>温商贷地址：<a href="http://j.map.baidu.com/5pmUj" target="_blank">新疆吐鲁番市鄯善县石材工业园区石材大道南侧（鄯善天玖石材电子商务有限公司）</a>，<a href="{%= path.HOST %}/new_v.aspx?id=390"
                    target="_blank">增值电信业务经营许可证：新B2-20170018</a>
            </p>

            <p>备案号：<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">新ICP备17000559号</a>
                <a href="http://www.beian.gov.cn/portal/index" target="_blank">

                    <img src="./images/gongan.png" style="margin-right: 5px;">公网安备65212202000101号
                </a>&nbsp; <span class="red">温馨提示：市场有风险，投资需谨慎</span></p>


            <!-- <p style="margin-top: 10px;">
                友情链接:<a class="friendly-link" href="http://www.wzlstz.com/" target="_blank">李山投资集团</a>
                <a class="friendly-link" href="http://www.cijueshi.cn/" target="_blank">瓷爵士</a>
                <a class="friendly-link" href="http://www.jfbaifu.com/shop/newhome/index" target="_blank">百付商城</a>
                <a class="friendly-link" href="http://www.tianjiushicai.com/index.aspx" target="_blank">新交所</a>
                <a href="http://www.p2peye.com" target="_blank" title="网贷天眼">网贷天眼</a>
            </p> -->
        </div>


        <div class="qrcode-zone">

            <div class="qr-item">
                <img src="./images/qr1.png" alt="">
                <p>微信公众号</p>
            </div>

            <div class="qr-item">
                <img src="./images/new/dapp.jpg" alt="" style="width: 66px;">
                <p>手机APP</p>
            </div>
            <div class="ws-fl">
                <p class="textc">工作时间</p>
                <p>周一至周日：8:30-21:30</p>
                <!-- <p>周日及节假日：8:30-17:00</p> -->
                <p class="hotline">财富热线</p>
                <!-- <p>周日及节假日晚上无客服值班</p> -->
                <p class="tel">0577-96088</p>

            </div>


        </div>


    </div>

    <div class="index-friend">
        <p>
            <a target="_blank" href="https://credit.cecdc.com/query/search?code=4udoDDXnrZ4gf6CtLbiSmnqZStGwjZ82jQCx6sg4georMPh0VxjKuFA2vy4F9%2BLdJrICHvk%2BO5Vssbf%2BUbjmMeNFQRl%2F7vfG%2Fa0j0U2b030FloOgyEFFQ1esEDdEDijD4pXEoK3Z0XNQmZ5Lxq4YCkmiIDJcjBJwNbbGG%2B5Jz77f9VSf%2Fg17GOPl0fbKqGqZcgKDW25PZgR0%2B7JBsbj1k%2Fr%2BMrG4AJR%2FH1qiOJZXat8LszEKUw%3D%3D&isExpires=2">
                <img src="./images/new/1.png" alt="">
            </a>
            <a target="_blank" href="https://v.anquan.org/cert/site/?site=www.wsloan.com&at=business">
                <img src="./images/new/2.png" alt="">
            </a>
            <!-- <a target="_blank" href="http://si.trustutn.org/info?sn=820160901000516799092">
                <img src="./images/icon-4.png" alt="">
            </a> -->
            <a target="_blank" href="http://www.wsloan.com/new_v.aspx?id=2390">
                <img src="./images/new/3.png" alt="">
            </a>
            <a target="_blank" href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/PJ2017041301">
                <img src="./images/new/4.png" alt="">
            </a>

            <a target="_blank" href="https://sealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.wsloan.com&lang=zh_cn">
                <img src="./images/new/5.png" alt="">
            </a>

            <a target="_blank" href="http://www.itrust.org.cn/home/index/satification_certificate/wm/MY2017061201">
                <img src="./images/new/6.png" alt="">
            </a>

            <!-- <a target="_blank" href="https://webverify.cfca.com.cn/WebVerify/webVerifyServlet?domain=www.wsloan.com">
                <img src="./images/icon-8.jpg" alt="">
            </a> -->
            <!-- <a target="_blank" href="https://download1.knet.cn/install/login.jsp" target="_blank">
                <img src="./images/icon-9.png" width="97px" alt="">
            </a> -->

        </p>
    </div>
</div>
<!-- 浮动层 -->

<div id="bbs-tcbg" style="position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:.75; filter: alpha(opacity=75); z-index:201; display:none;"></div>
<div class="bbs-tc" style="display:none" id="bbs-tc-toolnav2">
    <iframe allowtransparency="true" id="hotlist_iframe" style="width:100%; height:100%; display:none; background-color:transparent;"
        src=""></iframe>
    <div class="tc-close" onclick="tcClose();">X</div>
</div>

<div id="J_ad_float"></div>
<div id="tj"></div>
<noscript><img src="//stats.ipinyou.com/adv.gif?a=MVs..9B5CuXdhiGG4pOkv7oFjp_&e=" style="display:none;"/></script>