<div class="tab ">
    <ul id="J_Component_Tab">
        <li class="on"><a href="javascript:">可用红包</a></li>
        <li class=" "><a href="javascript:">已用红包</a></li>
        <li class=" "><a href="javascript:">过期红包</a></li>
    </ul>
</div>
<style lang="scss">
    .tab {
        width: 730px;
        overflow: hidden;
    li {
        float: left;
        width: 240px;
        overflow: hidden;
        border-bottom: 1px
    }
    &.current {
        color: #fb6e52;
         border-bottom:1px solid #ff6966


    }

    }
</style>